<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, width=device-width, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slideshow.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/circular.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/fonts.css" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->  
    <script src="scripts/jquery-3.6.0.min.js"></script>
    <title>A to Z With Eli | contact</title>
    <link rel = "icon" href = "/images/logos/icon.png" type = "image/x-icon">
</head>
<body>
    
    <div class="preloader-container">
        <div class="preloader">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
        <div class="bar bar4"></div>
        <div class="bar bar5"></div>
        <div class="bar bar6"></div>
        <div class="bar bar7"></div>
        <div class="bar bar8"></div>
        <div class="bar bar9"></div>
        <div class="bar bar10"></div>
        <div class="bar bar11"></div>
        <h2 style="text-align: center; color: var(--secondary-color);">LOADING</h2>
        </div>
    </div>
    <section class="intro-hide">
        <!-- loading -->
        

        <!--Navigation bar-->
        <div id="nav-placeholder"></div>
        <script>
            $(function(){
            $("#nav-placeholder").load("views/nav.html");
            });
        </script>
        <!--end of Navigation bar-->

        
        

        <!-- Head -->
        
        <section class="contact">
            <div class="contact container grid grid-3">
                <div class="card text-center">
                    <p class="lead text-center">
                        :whatsapp
                    </p>
                    <a href="https://wa.me/message/HNN7KC2SKXINI1" target="_blank"><img src="images/Whatsapp-QR.jpeg" height="250" alt="Instagram"></a>
                    <p class="lead text-center">
                        <a href="https://wa.me/message/HNN7KC2SKXINI1" target="_blank">09056641361</a>
                    </p>
                </div>

                <div class="card text-center">
                    <p class="lead text-center">
                        :instagram 
                    </p>
                    <a href="https://www.instagram.com/a.to.z.with.eli/" target="_blank"><img src="images/Instagram-QR.jpeg" height="250" alt="Instagram"></a>
                    <p class="lead text-center">
                        <a href="https://www.instagram.com/a.to.z.with.eli/" target="_blank">@a.to.z.with.eli</a>
                    </p>
                </div>
                
                <div class="card">
                    <p class="lead text-center">
                        :address
                    </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4324.6382668540045!2d51.39551152514477!3d35.706095691932646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1649071057908!5m2!1sen!2s" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="lead text-center">
                        :2-address-text
                    </p>               
                </div>
            </div>
        </section>
        
        
        
        <!-- Sub head -->
        <!--
        <section class="features-sub-head bg-light py-3">
            <div class="container grid">
                <div>
                    <h1 class="md">The Loruki Platform</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor cupiditate dignissimos temporibus perspiciatis quae! Suscipit qui, consectetur ea consequatur, doloribus repellendus quasi, aut corporis nam alias culpa. Nostrum, inventore accusantium!
                    </p>
                </div>
                <img src="images/server2.png" alt="">
            </div>
        </section>

        <section class="features-main my-2">
            <div class="container grid grid-3">
                <div class="card flex">
                    <i class="fas fa-server fa-3x"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nemo saepe corrupti et dolorem voluptate at, nostrum rem voluptatem ab alias quia molestiae ea, libero nihil deserunt. Molestias, eum? Necessitatibus!</p>
                </div>
                <div class="card flex">
                    <i class="fas fa-network-wired fa-3x"></i>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                        recusandae perferendis culpa, reiciendis a itaque debitis qui vel
                        dignissimos ipsum!
                    </p>
                </div>
                <div class="card flex">
                    <i class="fas fa-laptop-code fa-3x"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
                        magnam.
                    </p>
                </div>
                <div class="card flex">
                    <i class="fas fa-database fa-3x"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, a!
                    </p>
                </div>
                <div class="card flex">
                    <i class="fas fa-power-off fa-3x"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
                        magnam.
                    </p>
                </div>
                <div class="card flex">
                    <i class="fas fa-upload fa-3x"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
                        magnam.
                    </p>
                </div>
            </div>
        </section>

        -->

        <!-- Footer -->
        <div id="footer-placeholder"></div>
        <script>
            $(function(){
            $("#footer-placeholder").load("views/footer.html");
            });
        </script>
        <!--end of Footer-->
    </section>
</body>
<!-- <script>
    // loading
window.addEventListener("load",function() {
var loadScreen=document.querySelector(".preloader-container");
document.body.removeChild(loadScreen);
$(".intro-hide").show();
})
// loading end
</script> -->
</html>