<link rel="stylesheet" href="css/footer.css">

<footer class="footer bg-dark py-3">
    <div class="container grid">
        <div class="copyright">
            <h1>A to Z With Eli	
            </h1>
            <p>Copyright &copy; 2022</p>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/a.to.z.with.eli/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="courses">Courses</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>